<div class="demo-container">

  <boton-primary
    color="light-blue"
    texto="Guardar"
    icon="save">
  </boton-primary>

  <boton-primary
    color="medium-blue"
    texto="Editar"
    icon="edit">
  </boton-primary>

  <boton-primary
    color="dark-blue"
    texto="Eliminar"
    icon="delete">
  </boton-primary>

  <boton-primary
    color="darker-blue"
    texto="Nuevo"
    icon="new">
  </boton-primary>

</div>

<div class="demo-container">

  <boton-red
    color="red-light"
    texto="Filtrar"
    icon="filter">
  </boton-red>

  <boton-red
    color="red-medium"
    texto="Buscar"
    icon="search">
  </boton-red>

  <boton-red
    color="red-dark"
    texto="Exportar a Excel"
    icon="excel">
  </boton-red>

  <boton-red
    color="red-darker"
    texto="Exportar a PDF"
    icon="pdf">
  </boton-red>

</div>
<div class="demo-container">

  <boton-green
    color="green-light"
    texto="Regresar"
    icon="undo">
  </boton-green>

  <boton-green
    color="green-medium"
    texto="Excel"
    icon = 'excel'>
  </boton-green>

  <boton-green
    color="green-dark"
    texto="Subir Archivo"
    icon="save">
  </boton-green>

  <boton-green
    color="green-darker"
    texto="Procesar">
  </boton-green>

</div>
<div class="demo-container">

  <boton-yellow
    color="yellow-light"
    texto="Guardar"
    icon="save">
  </boton-yellow>

  <boton-yellow
    color="yellow-medium"
    texto="Editar">
  </boton-yellow>

  <boton-yellow
    color="yellow-dark"
    texto="Subir Archivo"
    icon="save">
  </boton-yellow>

  <boton-yellow
    color="yellow-darker"
    texto="Procesar">
  </boton-yellow>

</div>
<div class="demo-container">

  <boton-purple
    color="purple-light"
    texto="Guardar"
    icon="save">
  </boton-purple>

  <boton-purple
    color="purple-medium"
    texto="Editar">
  </boton-purple>

  <boton-purple
    color="purple-dark"
    texto="Subir Archivo"
    icon="save">
  </boton-purple>

  <boton-purple
    color="purple-darker"
    texto="Procesar">
  </boton-purple>

</div>
<div class="demo-container">

  <boton-orange
    color="orange-light"
    texto="Guardar"
    icon="save">
  </boton-orange>

  <boton-orange
    color="orange-medium"
    texto="Editar">
  </boton-orange>

  <boton-orange
    color="orange-dark"
    texto="Subir Archivo"
    icon="save">
  </boton-orange>

  <boton-orange
    color="orange-darker"
    texto="Procesar">
  </boton-orange>

</div>

<div class="demo-container">

  <boton-black
    color="ligth-blue"
    texto="Exportar PDF"
    icon="pdf">
  </boton-black>

  <boton-black
    color="black-medium"
    texto="Exportar Excel"
    icon="excel">
  </boton-black>

  <boton-black
    color="dark-black"
    texto="Filtrar"
    icon="filter">
  </boton-black>

  <boton-black
    color="darker-black"
    texto="Buscar"
    icon="search">
  </boton-black>

</div>