@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.demo-container {
  background: #d6d7da;
  padding: 20px;
  display: flex;
  gap: 22px;
  font-family: 'Poppins', sans-serif;
}